.navSection a {
    text-decoration: none;
    color: #fff; /* Set default color */
}

.navSection a:hover {
    color: #1D98F0; /* Set hover color */
}
.calculator {
    background-color: #202328;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.calculator h2 {
    text-align: center;
    margin-bottom: 0;
}
.calculator hr{
    margin-bottom: 30px;
    width: 30%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#calculateBtn {
    width: 100%;
    padding: 10px;
    background-color: #1D98F0;
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.result p {
    font-weight: bold;  
}

#bmiResult {
    font-size: 24px;
    color: #1D98F0;
}
/* Media query */
/* for mobile */
@media only screen and (max-device-width : 480px) {
    .calculator{
        width: 90%;
    }
}

/* for tablets */
@media only screen and (min-device-width : 481px) and (max-device-width : 960px) {
    .calculator{
        width: 60%;
    }
}